#calculator-wrapper {
    background-color: yellowgreen;
    width: 25%;
    height: 600px;
    padding: 35px 50px 50px 40px;
    border-radius: 15px;
    box-shadow: 18px 18px blue;
}

#top-window {
    background-color: rgb(255, 0, 102);
    height: 25%;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 10px 10px rgb(86, 96, 120);
    border-radius: 15px
}

#bottom-keys {
    background-color: yellowgreen;
    height: 70%;
    width: 100%;
}

#number-keys {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

#special-keys {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    border-color: darkgreen;
}

.number {
    color: darkblue;
    width: 100px;
    height: 104px;
}